body {
    margin: 0;
    
}

header {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding-right: 30px;
}
.head1 {
    text-decoration: none;
    display: block;
    color: #f2f2f2;
    text-align: center;

    a {
        justify-content: center !important;
        text-decoration: none;
        font-size: 17px;
        padding-right: 30px;
        color: #000;
        align-items: center;
    }
    @media screen and (max-width: 600px) {
        display: none;
    }
}
.head1 a:hover {
    background-color: #f2f2f2;
    color: black;
}
.icon {
    display: none;

    @media screen and (max-width: 600px) {
        float: right;
        display: block;
    }
}
#hi {
    padding-right: 10px;
}
@media screen and (max-width: 600px) {
    .head1.responsive {
        position: absolute;
        display: block;
        padding-top: 220px;
        margin-right: 200px;
        padding-left: 20px;
        color: blue;
        border-color: #f8f0e3;
        a {
            text-decoration: none;
            color: black;
            border: 2px solid dark;
        }
    }
    .head1.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .head1.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
.btn2 {
    display: none;
    @media screen and (max-width: 600px) {
        display: flex;
        border-radius: 5px;
    }
}
.but{
    display: flex;
    @media screen and (max-width: 600px) {
        display: none;
    }

}